@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
    background-image: url("../assets/home-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

#nav-bar{
    width:100%;
}

#nav-list{
    display:flex;
    justify-content: center;
    gap:5vw;
}

.nav-button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-top:5vh;
    font-weight: 650;
    color:white;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'Funnel Display';
    height:40px;
    
}

#orderBtn{
    background-color:rgb(255, 187, 0);
    width:180px;
    white-space: nowrap;
}

#home-logo{
    width:100px;
    margin-top: -1.5vw;
}

#page{
    display:flex;
    justify-content:center;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in.visible {
  opacity: 1;
}